.badge {
    &.badge-outline-primary {
        border: 1px solid rgba($primary, 0.5);
        color: $primary;
    }

    &.badge-outline-secondary {
        border: 1px solid rgba($secondary, 0.5);
        color: $secondary;
    }

    &.badge-outline-success {
        border: 1px solid rgba($success, 0.5);
        color: $success;
    }

    &.badge-outline-warning {
        border: 1px solid rgba($warning, 0.5);
        color: $warning;
    }

    &.badge-outline-danger {
        border: 1px solid rgba($danger, 0.5);
        color: $danger;
    }

    &.badge-outline-info {
        border: 1px solid rgba($info, 0.5);
        color: $info;
    }

    &.badge-outline-light {
        border: 1px solid $light;
        color: $gray-600;
    }

    &.badge-outline-dark {
        border: 1px solid rgba($dark, 0.5);
        color: $dark;
    }

    &.badge-sm {
        font-size: 9px !important;
        padding: 0.3em 0.6em 0.15rem !important;
    }
}