//
// card.scss
//

.card_item {
    background: $white;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    padding: 4px 0;
    margin-bottom: 6px;
    >div {
        padding: 16px 20px;
    }
    &_middle_section {
        border-top: 0.5px solid rgba($primary, 0.2);
        border-bottom: 0.5px solid rgba($primary, 0.2);
        display: flex;
        justify-content: space-between;
    }
    font-weight: 600;
    &_title {
        font-size: 12px;
        opacity: 0.5;
    }
    &_buttons {
        div:last-child {
            margin-left: 20px;
        }
        img {
            cursor: pointer;
        }
    }
}

.opacity_type {
    .card_item_middle_section,
    .card_item_header {
        opacity: 0.4;
    }
}

.banner {
    width: 100%;
    position: relative;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    height: 140px;
    overflow: hidden;
    padding-left: 80px;
    color: $white;
    margin: 20px 0;
    * {
        position: relative;
        z-index: 2;
    }
    &_image {
        position: absolute;
        width: 100%;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        img {
            width: 100%;
            object-fit: cover;
            object-position: right;
            height: 100%;
        }
    }
    &_close {
        position: absolute;
        right: 20px;
        top: 11px;
        cursor: pointer;
    }
    h1 {
        margin-bottom: 12px;
    }
}

.card {
    background: $white;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
}

.card-header {
  padding: $card-cap-padding-y $card-cap-padding-x;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  color: $card-cap-color;
  background-color: $white;
  border-bottom: $card-border-width solid $card-border-color;

  &:first-child {
    @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
  }
}

.card .media img{
    height: 6em;
    width: 6em;
    object-fit: cover;
    border: $card-border-width solid $border-color;
    border-radius: 0.3em;
}
.card .media img.img-sm{
  height: 3em;
  width: 3em;
}


.card-body{
  min-height: $card-min-height;
}

.card-stats{
  .header{
    color: #8a90a2 !important;
    font-size: $h5-font-size;
  }
  .sub-header{
    font-size: $h1-font-size;

    small{
      font-size: $h1-font-size * 0.6;
    }
    i{
      display: inline-block;
      vertical-align: middle;
      content: "";
      font-size: $h5-font-size;
      margin-left: 5px;
      margin-right: 5px;
    }
    .down{
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
    }
    .up{
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
      transform: rotate(180deg);
    }
  }
}

// Responsive
@media(min-width:1500px) {
    .banner {
        height: 180px;
    }
}

@media(max-width:991.9px) {
    // dashboard
    .dash_card {
        margin-bottom: 20px;
        min-height: auto;
    }
}
