.table{
  background: $white;
  box-shadow: $box-shadow;
  border-radius: $border-radius;

  thead th {
      vertical-align: middle;
      border-bottom: $table-border-width solid $table-border-color;
      font-weight: $font-weight-normal;
      color: $text-muted;

      .orderby .asc:after{
        font-size: 16px;
        margin-left: 5px;
        color: #0a0c32;
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
      }
  }
  tbody td{
    vertical-align: middle;
    border-bottom: $table-border-width solid $table-border-color;
  }
  thead th.index{
    width: $w-1;
  }
  th,
  td {
      border-top: none;
  }
  tbody > tr:last-child > td {
      border-bottom: 0;
  }
  tr td:first-child, tr th:first-child{
    padding-left: $table-tr-padding;
  }
  tr td:last-child, tr th:last-child{
    padding-right: $table-tr-padding;
  }
  tr th button.btn{
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.table-hover{
  td{
    cursor: pointer;
  }
}
