.auth-bg {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 0;
    background-image: url("../../images/auth-bg.svg");
}

.step-indicator {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    font-size: 14px;
    font-weight: $font-weight-semibold;
    margin-right: 4px;

    &.badge-muted {
        background-color: #0A0C32;
        color: $white;
        opacity: 0.2;
    }
}

.profile-pic-edit {
    position: absolute;
    top: 0;
    right: 0;
    height: 24px;
    width: 24px;
    background: #FFFFFF;
    border: 2px solid $primary;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    cursor: pointer;

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        cursor: inherit;
        display: block;
    }
}