.components {

  .view-icon {}

  .filter-left {
    width: 100%;
  }

  .search {
    width: 100%;
  }


  // .list-view {
  //   .table-component-list {
  //     td {
  //       vertical-align: middle;
  //     }

  //     thead {
  //       background-color: $gray-200;
  //       // box-shadow: 0 4px 30px rgba(140, 157, 202, 0.15);
  //       border: 1px $gray-200;
  //       border-radius: 10px;
  //       padding: 1em 2em;
  //       margin: 1em 0;
  //     }

  //     tbody {
  //       // background: $white !important;
  //     }

  //     td.main-table-cell {
  //       padding: 0 0.75rem 1rem;
  //     }

  //     tr.component-row {
  //       td {
  //         .inner-table {
  //           // box-shadow: 0 4px 30px rgba(140, 157, 202, 0.15);
  //           border-radius: 10px;
  //           border: 1px $gray-200;

  //           td {
  //             padding: 1em;
  //           }
  //         }

  //         .component-body {
  //           .image img {
  //             height: 3.5em;
  //             width: 3.5em;
  //             object-fit: cover;
  //             border: 1px solid $gray-200;
  //             border-radius: 0.7em;
  //           }

  //           .product-detail {
  //             padding: 5px 30px;
  //           }

  //           .description {
  //             white-space: nowrap;
  //             overflow: hidden;
  //             text-overflow: ellipsis;
  //             width: 90%;
  //           }
  //         }
  //       }
  //     }

  //     tr.extra-info {
  //       border-top: 2px solid $gray-200;

  //       .tags {
  //         width: auto;
  //         padding: 4px 8px;
  //         font-size: 14px;
  //         list-style: none;
  //         border-radius: 6px;
  //         margin: 0 8px 8px 0;
  //         background: $gray-200;

  //         &:hover {
  //           background: $gray-200;
  //         }
  //       }
  //     }
  //   }
  // }

  .list-view {

    .body-row {
      box-shadow: 0 4px 20px rgba(140, 157, 202, 0.15);
      border: 1px $gray-200;
      border-radius: 10px;
      padding: 1em 2em;
      margin: 1em 0;

      .image img {
        height: 4em;
        width: 4em;
        object-fit: cover;
        border: 1px solid $gray-400;
        border-radius: 0.3em;
      }

      .product-detail {
        padding: 5px 30px;
      }

      .description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
      }

      .extra-info {
        margin: 0 !important;
        padding: 1em 0 !important;
        border-top: 2px solid $gray-200;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .tags {
          width: auto;
          padding: 4px 8px;
          font-size: 14px;
          list-style: none;
          border-radius: 6px;
          margin: 0 8px 8px 0;
          background: $gray-200;

          &:hover {
            background: $gray-200;
          }
        }
      }

      div {
        align-self: center;
      }
    }

    .header-row {
      background-color: $white;
      box-shadow: 0 4px 20px rgba(140, 157, 202, 0.15);
      border: 1px $gray-200;
      border-radius: 10px;
      padding: 1em 2em;
      margin: 1em 0;
    }
  }

  .grid-view {
    // display: flex;
    // flex-wrap: wrap;

    .card {
      min-height: 290px;
    }

    .image img {
      height: 4em;
      width: 4em;
      object-fit: cover;
      border: 1px solid $gray-400;
      border-radius: 0.3em;
    }

    .description p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .description {
      width: 100%;
      margin: 0 auto;
      min-height: 18px;
    }

    .tags {
      width: auto;
      padding: 4px 8px;
      font-size: 14px;
      list-style: none;
      border-radius: 6px;
      margin: 0 8px 8px 0;
      background: $gray-200;

      &:hover {
        background: $gray-200;
      }
    }

    .product-detail {
      padding: 14px;
    }

    .archive {
      background-color: $gray-200;
      border-radius: 0.7em;
      // height: 3em;
    }

  }

  .export {
    background: transparent !important;

    &:after {
      content: none;
    }
  }
}

.active-label {
  padding: 0 8px;
  color: #396aff;
  border: 1px solid #396aff;
  border-radius: 1em;
  cursor: pointer;
  height: 17px;
  font-size: 13px;
  font-weight: 600;
}

.product-image {
  max-height: 6.5rem;
  max-width: 6.5rem;
  min-height: 6.5rem;
  min-width: 6.5rem;
  object-fit: cover;
  border: 1px solid $gray-200;
  border-radius: 0.7em;
}

.component-main-image {
  max-height: 100%;
  max-width: 100%;
  min-height: 11rem;
  min-width: 100%;
  border: 1px solid $gray-200;
  border-radius: 0.7em;
}

.component-image {
  max-height: 3.5rem;
  max-width: 3.5rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  object-fit: cover;
  border: 1px solid $gray-200;
  border-radius: 0.7em;
}

.component-tags {
  width: auto;
  padding: 4px 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: $gray-200;

  &:hover {
    background: $gray-200;
  }
}

.edit-variation {
  background-color: $gray-200 !important;
  border-radius: 7px;
}

.dropdown {

  .dropdown-toggle {
    display: flex;
    align-items: center;
    color: $black;

    &:after {
      font-size: 16px;
      margin-left: 5px;
      color: $primary;
    }
  }

  &.show {
    .dropdown-toggle {
      color: $black;
      background: $tranparent;

      &:after {
        transform: scaleY(-1);
        font-size: 16px;
      }
    }
  }

  .btn-outline-secondary {
    &:focus {
      color: $black;
      background: $white;
      border: 1px solid rgba($primary, 0.5);
      outline: none;
      box-shadow: none;
    }
  }

  .dropdown-menu {
    background: $white !important;
    box-shadow: $box-shadow !important;
    border-radius: $border-radius*0.5 !important;
    padding: 0.5em;

    .dropdown-item {
      background: $white;
      font-size: 0.82rem;
      font-weight: 500;
      padding: 0.65em 1em;

      &:hover {
        border-radius: $border-radius*0.5 !important;
        background: $primary;
        color: $white;
      }
    }
  }
}

.type-product-image-list {
  .type-product-image {
    width: 35px;
    height: 35px;
    border: 1px solid $primary;
    padding: 1px;
    border-radius: 50%;
    margin: 0 0 10px -12px;
    display: inline-block;
  }

  .type-product-image-more {
    width: 36px;
    height: 36px;
    background: #396aff;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    margin: 0 0 0px -12px;
    display: inline-block;
    padding: 10px;
  }
}