.components {
  table {
    //border-collapse: separate;
    //border-spacing: 0 1em;
    tr {
      background-color: $white;
      box-shadow: 0 4px 30px rgba(140, 157, 202, 0.15);
      border: 1px $gray-200;
      border-radius: 1em;

      :hover {
        background-color: $white;
      }
    }

    thead tr {
      background-color: $gray-200;

      :hover {
        background-color: $gray-200;
      }
    }

    .tags {
        width: auto;
        padding: 4px 8px;
        font-size: 14px;
        list-style: none;
        border-radius: 6px;
        margin: 0 8px 8px 0;
        background: $gray-200;
        &:hover {
          background: red;
        }
    }
  }
}