.svg-outline-primary {
    svg {
        path {
            stroke: $primary !important;
        }

        ellipse {
            stroke: $primary !important;
        }
    }
}

.settings-cards {
    min-height: 120px;
}