.svg-outline-primary {
    svg {
        path {
            stroke: $primary !important;
        }

        ellipse {
            stroke: $primary !important;
        }

        rect {
            stroke: $primary !important;
        }
    }
}

.svg-outline-secondary {
    svg {
        path {
            stroke: $secondary !important;
        }

        ellipse {
            stroke: $secondary !important;
        }

        rect {
            stroke: $secondary !important;
        }
    }
}

.svg-outline-warning {
    svg {
        path {
            stroke: $warning !important;
        }

        ellipse {
            stroke: $warning !important;
        }

        rect {
            stroke: $warning !important;
        }
    }
}

.svg-outline-danger {
    svg {
        path {
            stroke: $danger !important;
        }

        ellipse {
            stroke: $danger !important;
        }

        rect {
            stroke: $danger !important;
        }
    }
}

.svg-outline-white {
    svg {
        path {
            stroke: $white !important;
        }

        ellipse {
            stroke: $white !important;
        }

        rect {
            stroke: $white !important;
        }
    }
}

.svg-outline-success {
    svg {
        path {
            stroke: $success !important;
        }

        ellipse {
            stroke: $success !important;
        }

        rect {
            stroke: $success !important;
        }
    }
}

.svg-outline-muted {
    svg {
        path {
            stroke: $muted !important;
        }

        ellipse {
            stroke: $muted !important;
        }

        rect {
            stroke: $muted !important;
        }
    }
}

.settings-cards {
    min-height: 120px;
}

.card-link {
    color: inherit !important;
    width: 100%;

    &:hover {
        color: inherit !important;
    }
}

.card {

    .card-header {
        border-bottom: 1px solid rgba(#9D9EAD, 0.3);
        background-color: transparent;
    }

    .card-footer {
        border-top: 1px solid rgba(#9D9EAD, 0.3);
        background-color: transparent;
    }
}


.btn-archive {
    background-color: $primary;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;

    .icon {
        position: relative;
        top: -2px;

        >svg {

            path {
                stroke: $white !important;
            }
        }
    }
}

.alret-notification {
    position: fixed;
    bottom: 30px;
    z-index: 1111;
    width: 790px;
    left: 280px;

    .card {
        box-shadow: 0 4px 30px rgba(140, 157, 202, 0.50) !important;
    }
}

.add-payment-modal-header {
    border-bottom: none !important;
}

/*
add new payment form
*/


@for $i from 1 through 6 {
    $zIndexBackdrop: #{1000 + (5 * $i)};
    $zIndexContent: #{1000 + (5 * $i) + 2};

    .modal-backdrop.show:nth-of-type(#{$i}) {
        z-index: $zIndexBackdrop;
    }

    div[role="dialog"][aria-modal="true"]:nth-of-type(#{$i}) {
        z-index: $zIndexContent;
    }
}
